button{
    position: relative;
    left: 50%;
    background-color: green;
  
}
.c{
    position: relative;
    left: 35%;

}
.cp{
    background-color: yellow;
}
.cp p{
    position: relative;
    left:40%;
}